{% extends 'main.html.twig' %}
{% block javascripts_body %}
  {{ encore_entry_script_tags('booking_page') }}
{% endblock %}
{% block body %}
  <h1>Buchunsseite</h1>
  <form id="booking_form" class="container-fluid my-1" method="POST" enctype="application/x-www-form-urlencoded" action="{{ path('api_booking_create') }}">
    <div class="row my-3 mx-1">
      <p class="col-2 px-2 text-right">Hardware</p>
      <select name="hardware" id="hardware" class="col-2" required>
        {% for hardware in hardwareList %}
          {% if hardware.id == selectedHardwareId %}
            <option selected value="{{ hardware.id }}">{{ hardware.name }}</option>
          {% else %}
            <option value="{{ hardware.id }}">{{ hardware.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <p class="col-2 px-2 text-right">Buchungsdatum</p>
      <input type="date" id="date" name="date" class="col-2" min="{{ 'now'|date('Y-m-d') }}" value="{{ bookingDate|date('Y-m-d') }}" />
      {% if isAdmin %}
        <p class="col-1 px-2 text-right">Stunden</p>
        <input class="col-2" type="number" name="booking_length" id="booking_length" name="booking_length" value="{{ bookingLength }}" min="1" max="10" />
      {% else %}
        <p class="col-2 text-center">Eine Stunde wird gebucht.</p>
      {% endif %}
      <input class="col-1" id="submit" type="submit" value="Buchen" class="btn btn-primary col" />
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <td class="col-5">Anfang</td>
        <td class="col-5">Ende</td>
        <td class="col-2"></td>
      </thead>
      <tbody>
        {% for bookable in bookables %}
          <tr>
            <td class="col-5">{{ bookable['startDateTime']|date('H:i') }}</td>
            <td class="col-5">{{ bookable['endDateTime']|date('H:i') }}</td>
            <td>
              <input required name="booking_slot" type="radio" value="{{ bookable|json_encode }}" class="col-2" />
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}
