{% extends 'main.html.twig' %}

{% block body %}
	{{form_errors(bookingForm)}}
	{{form_start(bookingForm) }}
	<div class="form-row">
		<div class="col">
			<div class="input-group-prepend">
				<span class="input-group-text" id="hardware_addon">Hardware</span>
			</div>
			{{ form_widget(bookingForm.hardware, {
                attr: {
                    'class': 'form-control',
					 'aria-describedby': 'hardware_addon'
                }
            }) }}
		</div>
		<div class="col">
			<div class="input-group-prepend">
				<span class="input-group-text" id="start_addon">Startzeit</span>
			</div>
			{{ form_widget(bookingForm.startDateTime, {
                    attr: {
                        'aria-describedby': 'start_addon',
						'class': 'form-control'
                    }
                }) }}
		</div>
		<div class="col">
			{% if bookingForm.length is defined %}
			<div class="input-group-prepend">
				<span class="input-group-text" id="end_addon">Stunden</span>
			</div>
			{{ form_widget(bookingForm.length, {
				attr: {
					'aria-describedby': 'end_addon',
					'class': 'form-control'
				}
			}) }}
			{% else %}
			Eine Stunde wird gebucht.
			{% endif %}
		</div>
		<div class="col">
			{{ form_widget(bookingForm.submit, {
                value: 'Buchen',
                attr: {
                    'class': 'btn btn-primary'
                }
            }) }}
		</div>
	</div>
	{{ form_rest(bookingForm) }}
	{{ form_end(bookingForm) }}
{% endblock %}
