{% extends 'main.html.twig' %}

{% block body %}
	{{form_start(bookingForm) }}
	<div class="form-row">
		<div class="col">
			<div class="input-group-prepend">
				<span class="input-group-text" id="hardware_addon">Hardware</span>
			</div>
			{{ form_widget(bookingForm.hardware, {
                attr: {
                    'class': 'form-control',
					 'aria-describedby': 'hardware_addon'
                }
            }) }}
		</div>
		<div class="col">
			<div class="input-group-prepend">
				<span class="input-group-text" id="date_addon">Datum</span>
			</div>
			{{ form_widget(bookingForm.date, {
                    attr: {
                        'aria-describedby': 'date_addon',
						'class': 'form-control'
                    }
                }) }}
		</div>
		<div class="col">
			<div class="input-group-prepend">
				<span class="input-group-text" id="start_addon">Startzeit</span>
			</div>
			{{ form_widget(bookingForm.startTime, {
                    attr: {
                        'aria-describedby': 'start_addon',
						'class': 'form-control'
                    }
                }) }}
		</div>
		<div class="col">
			<div class="input-group-prepend">
				<span class="input-group-text" id="end_addon">Endzeit</span>
			</div>
			{{ form_widget(bookingForm.endTime, {
                    attr: {
                        'aria-describedby': 'end_addon',
						'class': 'form-control'
                    }
                }) }}
		</div>
		<div class="col">
			{{ form_widget(bookingForm.submit, {
                value: 'Buchen',
                attr: {
                    'class': 'btn btn-primary'
                }
            }) }}
		</div>
	</div>
	{{ form_rest(bookingForm) }}
	{{ form_end(bookingForm) }}
{% endblock %}
