{% extends 'main.html.twig' %}
{% block javascripts %}
	{{ encore_entry_link_tags('booking_page') }}
{% endblock %}
{% block body %}
	<div class="form-row">
		<form action='/create' method='get' id="booking_form">
			<div class="col">
				<label for="hardware">Hardware</label>
				<select name="hardware" id="hardware">
					{% for hardware in hardwareList %}
						<option value="{{ hardware.id }}">{{ hardware.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col">
				<label for="date">Buchungsdatum</label>
				<input type="date" id="date" name="date" class="form-control"/>
			</div>
			<div class="col">
				{% if isAdmin %}
					<label for="length">Buchungsdauer</label>
					<input type="number" id="booking_length" name="booking_length" min="1" max="10"/>
				{% else %}
					Eine Stunde wird gebucht.
				{% endif %}
			</div>
			<select name="bookables" id="bookables">
				{% if bookables is not null %}
					{% for bookables in bookables %}
						<option value='{ start: {{bookable[0]}}, end: {{bookable[1]}} }'>
							{{bookable[0]}}
						</option>
					{% endfor %}
				{% endif %}
			</select>
			<div class="col">
				{% if bookables is not null %}
					<input type="submit" value="Buchen" class="btn btn-primary">
				{% else %}
					<input type="submit" value="Buchen" class="btn btn-primary" disabled="true">
				{% endif %}
			</div>
		</form>
	</div>
{% endblock %}
