{% extends 'main.html.twig' %}
{% block javascripts_body %}
	{{ encore_entry_script_tags('booking_page') }}
{% endblock %}
{% block body %}
	<form id="booking_form">
		<div class="row">
			<label for="hardware" class="col-1">Hardware</label>
			<select name="hardware" id="hardware-3" class="form-control col" required>
				{% for hardware in hardwareList %}
					<option value="{{ hardware.id }}">{{ hardware.name }}</option>
				{% endfor %}
			</select>
			<label for="date" class="col-1">Buchungsdatum</label>
			<input type="date" id="date" name="date" class="form-control col-3" min="{{ "now"|date("Y-m-d") }}" value="{{ "now"|date("Y-m-d") }}" required/>
			{% if isAdmin %}
				<label for="length" class="col-1">Buchungsdauer in Stunden</label>
				<input required class="col-2" value="1" type="number" id="booking_length" name="booking_length" min="1" max="10"/>
			{% else %}
				<p class="col-2">Eine Stunde wird gebucht.</p>
			{% endif %}
			<input class="col-1" type="submit" value="Buchen" class="btn btn-primary col">
		</div>
		<div class="row" id="bookables_root">
			{{ appendBookables() }}
		</div>
	</form>
{% endblock %}
