{% extends 'main.html.twig' %}
{% block body %}
	<h1>Buchung erfolgreich!</h1>
	<table>
		<tr>
			<td>{{ user.email }}</td>
		</tr>
		<tr>
			<td>{{  hardwareName  }}</td>
		</tr>
		<tr>
			<td>{{ hardwareIp  }}</td>
		</tr>
		<tr>
			<td>{{ startDateTime  }}</td>
		</tr>
		<tr>
			<td>{{ endDateTime  }}</td>
		</tr>
	</table>
{% endblock %}